<html>
  <body>
    <h1>Bonjour {{nom}},</h1>
    <p>Votre candidature a été reçue avec succès. Nous allons traiter votre
      demande et vous contacter sous peu.</p>
    <p>Merci de votre confiance,</p>
    <p>L'équipe de recrutement</p>
  </body>
</html>